{% extends 'deeplistening/generative_composition_base.html' %}

{% block generative_composition_content %}
    <p>
        Our final project is a program that generates unique soundscape compositions. It takes sounds from our library
        of field recordings and merges them to create a soundscape. The input text to the generator is the fingerprint
        for the composition it generates. Give it the same "seed", and it will produce the same composition.
    </p>
    <p>
        This website provides a simple way to interact with our project. You can influence the generation of these
        randomized soundscapes by writing whatever you like. We recommend trying out your name, a paragraph from a book,
        or haphazard mashing on your keyboard.
    </p>
    <p><small>This page will remain online through May 15th, 2020.</small></p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Generate">
    </form>
{% endblock generative_composition_content %}
