{% extends 'main/base.html' %}

{% block extra_head %}
    <title>∞ | wolfizen.net</title>
    {% if depth == 0 %}
    <meta name="robots" content="INDEX, NOFOLLOW">
    {% else %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    {% endif %}
{% endblock extra_head %}

{% block content %}
    <h1>You are on level {{ depth }}</h1>
    <p>
        {% if prev_depth >= 0 %}
        <a href="{% url 'main:infinite-links' depth=prev_depth %}">Up a level</a>
        |
        {% endif %}
        <a href="{% url 'main:infinite-links' depth=next_depth %}">Down a level</a>
    </p>
    <hr/>
    <p>
        <a href="{% url 'main:root' %}">Home</a>
    </p>
{% endblock content %}
